# ignore everything
*

# except:
# -------

# this gitignore
!.gitignore

# markdown files
!*.md

# assembly source files
!*.asm

# VS project, solution files
!Project.vcxproj
!Project.sln

# project directories
!empty-project/
!project-1/
!project-2/
!project-3/
!project-4/
